/* .App {
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.adBanner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
