flavorBtn {
  background-color: #0e3c7e;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vote {
  margin-left: 20px;
}

.flavorBtn:focus {
  background-color: gray;
}

.bar {
  height: 30px;
  border-radius: 3px;
  margin: 2px 0;
}

#chocolate {
  /* background-color: brown; */
  background-color: #4f2c2c;
}

#vanilla {
  /* background-color: blanchedalmond; */
  background-color: #cbc0ac;
}

#strawberry {
  /* background-color: palevioletred; */
  background-color: #de8c91;
}
